table {
    border-spacing: 15px 10px;
}

.basketContent {
    position: fixed;
    top: 95px;
    right: 50px;
    color: darkslategrey;
}

.fa-shopping-basket {
    font-size: 60px;
    position: fixed;
    top: 30px;
    right: 50px;
    color: cadetblue;
    cursor: pointer;
}

.fa-ban {
    color: cadetblue;
    cursor: pointer;
}

.fa-ban:hover {
    transform: scale(1.4);
    transition: .4s;
}

.fa-ban:active {
    color: red;
}

.fa-ban:not(:hover) {
    transition: .2s;
}
